<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Html.Partial("_Bootstrap")
    <link href="~/CSS/Reset.css" rel="stylesheet" />
    <link href="../CSS/DwarfStyles.css" rel="stylesheet" />
    <title>DwarfQuiz</title>
</head>
    <body>
        <header>
            @Html.Partial("_NavBar")
        </header>
        <main>
            <div id="test-question">
                <h3>Prueba de pregunta: @TempData["question"]</h3>
                <select>
                    <option value="a">@TempData["a"]</option>
                    <option value="b">@TempData["b"]</option>
                    <option value="c">@TempData["c"]</option>
                    <option value="d">@TempData["d"]</option>
                </select>
            </div>
            <form action="/Main/Quiz" method="post">
                <input type="submit" value="Reload" />
            </form>
        </main>
    </body>
</html>
